:root {
    --colorOne: #231942;
    --colorTwo: #5e548e;
    --colorThree: #9f86c0;
    --colorFour: #be95c4;
    --colorFive: #e0b1cb;
    --colorSix: #ffffff;
    --colorSeven: #111111;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    /* font-family: 'Montserrat', sans-serif; */
}

.top-navbar {
    background: linear-gradient(to right, var(--colorFive),var(--colorTwo)) ;
    height: 150px;
}

.logo-image {
    position:absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
}

.heading {
    display: flex;
    font-family: 'Martel', serif;
    font-size: 24pt;
    padding-top: 30px;
}

.navbar-styles {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding: 0.9rem 1rem;
}
.header-menu {
    align-items: center;
    display: flex;
    font-family:'Catamaran', sans-serif;
    gap: 2rem;
    padding-top: 45px;
}

/* Left collapsable navbar */
.grid-container {
    width: 100vw;
    margin: 0 auto;
    height: 350vh;
    display: flex;
    border: 2px solid rgba(0, 0, 0, .4);
    transition: 1s ease;
}
.sidebar {
    width: 10%;
    height: 100%;
    background: linear-gradient(to bottom, var(--colorFive),var(--colorTwo)) ;
    transition: 1s ease;
    position: relative;
}
.navbar-main-content {
    width: 70%;
    height: 70%;
    background-color: var(--colorSix);
    transition: 1s ease;
}
.navbar-main-content_large {
    width: 90%
}
.sidebar_small {
    width: 1.5%;
}

.leftButton {
    position: absolute;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);
    left: 100%;
    top: 2rem;
    transform: translate(-50%);
    cursor: pointer;
}

a {
    text-decoration: none;
}


.category-heading {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
li a{
    color: var(--colorSix);
    font-size: 20px;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
}

li:hover{
    background-color: var(--colorOne);
    cursor: pointer;
}

.dropdown {
    min-width: 5rem;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
.dropdown-container:hover .dropdown{
    display: block;
}

.dropdown li {
    clear: both;
    width: 100%;
}


/* Dropdown symbol allocation */
.category-heading > a::after {content: '+'; }

/* Right collapsable navbar */
.grid-rightcontainer {
    /* width: 100vw; */
    margin: 0 auto;
    height: 100vh;
    display: flex;
    float: right;
    transition: 1s ease;
}
.right-sidebar {
    right: 0;
    width: 10%;
    height: 355%;
    background: linear-gradient(to bottom, var(--colorTwo),var(--colorFive)) ;
    transition: 1s ease;
    top: 152px;
    position:absolute;
}
.rightnavbar-main-content {
    width: 70%;
    height: 70%;
    background-color: var(--colorSix);
    transition: 1s ease;
}
.rightnavbar-main-content_large {
    width: 90%
} 
 .rightnavbar_small {
    width: 1.5%;
}

.rightButton {
    position: absolute;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);
    right: 77%;
    top: 2rem;
    transform: translate(-50%);
    cursor: pointer;
}
.right-navbar-title {
    color: var(--colorSix);
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
}

/* Dropdown Search box */
.wrapper {
    /* display: flex; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper .search_box {
    width: 500px;
    background: var(--colorSix);
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px var(--colorTwo);
}

.wrapper .search_box .drop_down{
    width: 150px;
    border-right: 2px solid var(--colorThree);
    color: var(--colorSeven);
    position: relative;
    cursor: pointer;
}

.wrapper .search_box .drop_down .default_option {
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 16px;
}

.wrapper .search_box .drop_down ul {
    position: absolute;
    top: 40px;
    left: -10px;
    background: var(--colorSix);
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px var(--colorThree);
}

.wrapper .search_box .drop_down ul.active {
    display: block;
}

.wrapper .search_box .drop_down ul li {
    padding-bottom: 5px;
}

.wrapper .search_box .drop_down ul li:last-child {
    padding-bottom: 0;
}

.wrapper .search_box .drop_down ul li:hover {
    color: var(--colorSix);
}

.wrapper .search_box .drop_down::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: var(--colorThree) transparent transparent transparent;
}

.wrapper.search_box .search_field {
    width: 350px;
    height: 100%;
    position: relative;
}

.wrapper .search_box .search_field .input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 38px;
    color: var(--colorSeven);
}

.wrapper .search_box .search_field .fas {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: var(--colorThree);
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #9fa3b1;
}

::-moz-placeholder {
    color: #9fa3b1;
}

:-ms-input-placeholder {
    color: #9fa3b1;
}

/* Images cards */
.card {
    /* Add shadows to create the card effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    transition: 0.3s;
    border-radius: 10px;  
    justify-content: center;
}

/* On mouse-hover, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 2px 16px;
}

.card img {
    border-radius: 10px 10px;
    margin: auto;
    margin-top: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(30, 5vw);
    grid-gap: 15px;
    position: absolute;
    top: 300px;
    left: 200px;
}

.gallery img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card0 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card2 {
    font-size: 11.2px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card5 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card6 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}
.card8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.card9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.card10{
    font-size: 14px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.card11 {
    font-size: 11.6px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.card12 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}

.card13 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
}

.card14 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
}

.card15 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
}

.card16 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
}

.card17 {
    font-size: 12px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.card18 {
    font-size: 11.8px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
}

.card19 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 9;
}

.card20 {
    font-size: 11.8px;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 9;
}

.card21 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 12;
}

.card22 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 12;
}

.card23 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
}

.card24 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 12;
}

.card25 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 12;
}

.card26 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 12;
}

.card27 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 12;
}

.card28 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 15;
}

.card29 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 13;
    grid-row-end: 15;
}

.card30 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 15;
}

.card31 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 15;
}

.card32 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 13;
    grid-row-end: 15;
}

.card33 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 13;
    grid-row-end: 15;
}

.card34 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 13;
    grid-row-end: 15;
}


.card35 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    grid-row-end: 18;
}

.card36 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 16;
    grid-row-end: 18;
}

.card37 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 18;
}

.card38 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 16;
    grid-row-end: 18;
}

.card39 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 16;
    grid-row-end: 18;
}

.card40 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 16;
    grid-row-end: 18;
}

.card41 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 16;
    grid-row-end: 18;
}

.card42 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 19;
    grid-row-end: 21;
}

.card43 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 19;
    grid-row-end: 21;
}

.card44 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 19;
    grid-row-end: 21;
}

.card45 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 19;
    grid-row-end: 21;
}

.card46 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 19;
    grid-row-end: 21;
}

.card47 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 19;
    grid-row-end: 21;
}

.card48 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 19;
    grid-row-end: 21;
}

.card49 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 22;
    grid-row-end: 24;
}

.card50 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 22;
    grid-row-end: 24;
}

.card51 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 22;
    grid-row-end: 24;
}

.card52 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 22;
    grid-row-end: 24;
}

.card53 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 22;
    grid-row-end: 24;
}

.card54 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 22;
    grid-row-end: 24;
}

.card55 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 22;
    grid-row-end: 24;
}

/* Here */
.card56 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 25;
    grid-row-end: 27;
}

.card57 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 25;
    grid-row-end: 27;
}

.card58 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 25;
    grid-row-end: 27;
}

.card59 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 25;
    grid-row-end: 27;
}

.card60 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 25;
    grid-row-end: 27;
}

.card61 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 25;
    grid-row-end: 27;
}

.card62 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 25;
    grid-row-end: 27;
}

.card63 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 28;
    grid-row-end: 30;
}

/* Style the Recipe */
.recipe-card{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    font-size: 20px;
}
.recipe-card img {
    border-radius: 10px 10px;
}

.recipe-card .ingredients li{
    display: inline-flex;
    /* padding: 7px; */
    text-align: justify;
    text-justify: inter-word;
}

.recipe-card .instructions {
    padding: 7px;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 70px;
}

.likeButton {
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: red;
}

.content {
    padding: 15px;
}

.homeHeading {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 7;
    font-size: 32pt;
    background-color: var(--colorFive);
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}

.homeDescription {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
    font-size: 16pt;
    text-indent: 10px;
    text-align: center;
}

.homeInstructions {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
    font-size: 16pt;
    text-indent: 10px;
    text-align: center;
}

.moreInfo {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 16pt;
    text-indent: 10px;
    text-align: center;
}