:root {
    --colorOne: #231942;
    --colorTwo: #5e548e;
    --colorThree: #9f86c0;
    --colorFour: #be95c4;
    --colorFive: #e0b1cb;
    --colorSix: #ffffff;
    --colorSeven: #111111;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    /* font-family: 'Montserrat', sans-serif; */
}

.top-navbar {
    background: linear-gradient(to right, var(--colorFive),var(--colorTwo)) ;
    height: 150px;
}

.logo-image {
    position:absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
}

.heading {
    display: flex;
    font-family: 'Martel', serif;
    font-size: 24pt;
    padding-top: 30px;
}

.navbar-styles {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding: 0.9rem 1rem;
}
.header-menu {
    align-items: center;
    display: flex;
    font-family:'Catamaran', sans-serif;
    gap: 2rem;
    padding-top: 45px;
}

.grid-container {
    width: 100vw;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    border: 2px solid rgba(0, 0, 0, .4);
    transition: 1s ease;
}
.sidebar {
    width: 10%;
    height: 100%;
    background: linear-gradient(to bottom, var(--colorFive),var(--colorTwo)) ;
    transition: 1s ease;
    position: relative;
}
.navbar-main-content {
    width: 70%;
    height: 70%;
    background-color: var(--colorSix);
    transition: 1s ease;
}
.navbar-main-content_large {
    width: 90%
}
.sidebar_small {
    width: 1.5%;
}

button {
    position: absolute;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);
    left: 100%;
    top: 2rem;
    transform: translate(-50%);
    cursor: pointer;
}

a {
    text-decoration: none;
}


.category-heading {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
li a{
    color: var(--colorSix);
    font-size: 20px;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
}

li:hover{
    background-color: var(--colorOne);
    cursor: pointer;
}

.dropdown {
    min-width: 5rem;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
.dropdown-container:hover .dropdown{
    display: block;
}

.dropdown li {
    clear: both;
    width: 100%;
}


/* Dropdown symbol allocation */
.category-heading > a::after {content: '+'; }

/* Search */
#search-bar {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--colorFour);
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    top: 70px;
    right: 0px;
}
.search-btn {
    color: var(--colorOne);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--colorFour);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--colorSix);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
#search-bar:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
#search-bar:hover > .search-btn {
    background: var(--colorFive);
}

/* Dropdown Search box */
.wrapper {
    /* display: flex; */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper .search_box {
    width: 500px;
    background: var(--colorSix);
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px var(--colorTwo);
}

.wrapper .search_box .drop_down{
    width: 150px;
    border-right: 2px solid var(--colorThree);
    color: var(--colorSeven);
    position: relative;
    cursor: pointer;
}

.wrapper .search_box .drop_down .default_option {
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 16px;
}

.wrapper .search_box .drop_down ul {
    position: absolute;
    top: 70px;
    left: -10px;
    background: var(--colorSix);
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px var(--colorThree);
}

.wrapper .search_box .drop_down ul.active {
    display: block;
}

.wrapper .search_box .drop_down ul li {
    padding-bottom: 20px;
}

.wrapper .search_box .drop_down ul li:last-child {
    padding-bottom: 0;
}

.wrapper .search_box .drop_down ul li:hover {
    color: var(--colorSix);
}

.wrapper .search_box .drop_down::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: var(--colorThree) transparent transparent transparent;
}

.wrapper.search_box .search_field {
    width: 350px;
    height: 100%;
    position: relative;
}

.wrapper .search_box .search_field .input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 38px;
    color: var(--colorSeven);
}

.wrapper .search_box .search_field .fas {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: var(--colorThree);
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #9fa3b1;
}

::-moz-placeholder {
    color: #9fa3b1;
}

:-ms-input-placeholder {
    color: #9fa3b1;
}

/* Images cards */
.display-area {
    position: absolute;
    padding-top: 1400px;
    padding-left: 900px;
    transform: translate(-50%,-50%);
}
.card {
    /* Add shadows to create the card effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;  /*Rounded Corners*/
    height: 400px;
    width: 400px;
    justify-content: center;
}

/* On mouse-hover, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 2px 16px;
}

.card img {
    border-radius: 10px 10px;
    height: 85%;
    width: 85%;
    margin: auto;
    display: block;
    margin-top: 5px;
}